@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}
.cls-8 {
  fill: #ffd200;
}
.cls-4 {
  fill: #d40000;
}
.cls-8 {
  fill-rule: evenodd;
}
.str1 {
  stroke: #000;
  stroke-width: 0.46;
  stroke-miterlimit: 22.9256;
}
.fil3 {
  fill: none;
}
